body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    height: 100vh;
}

/* To fix footer - content orientation issue */
#container {
    display: flex;
}

#convertor {
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    border-radius: 5px;
    text-align: center;
    min-width: 35%;
}

h1 {
    color: #007bff;
}

label {
    display: block;
    margin-bottom: 8px;
    font-size: 16px;
}

input {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 20px;
    font-size: 16px;
    box-sizing: border-box;
}

button {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
}

button:hover {
    background-color: #0056b3;
}

#result {
    font-size: 20px;
    margin-top: 20px;
}

.scrollable {
    text-align: left;
    overflow-y: auto;
    max-height: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

/* Footer */
footer {
    margin-top: 30px;
    padding: 20px;
    text-align: center;
    background-color: #007bff;
    color: #fff;
}

footer p {
    margin: 10px 0;
}

footer a {
    color: #fff;
    text-decoration: none;
    border-bottom: 1px dashed #fff;
    transition: border-bottom 0.3s ease-in-out;
}

footer a:hover {
    border-bottom: 1px solid #fff;
}

/* History */

#history {
    list-style-type: none;
    padding: 0;
    margin-top: 28;
    background: linear-gradient(to bottom, #fff, #f4f4f4);
    border: 1px solid #000000;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#history li {
    padding: 16px;
    border-bottom: 1px solid #723a3a;
    border-radius: 8px;
    align-items: center;
    transition: background-color 0.3s, transform 0.2s;
    width: 90.5%;
    margin-left: 4px;
}

#history li:hover {
    background-color: #e6f7ff;
    transform: scale(1.02);
}

#history li span {
    flex-grow: 1;
    font-weight: bold;
    color: #333;
}

#history li .separator {
    font-size: 18px;
    color: #aaa;
}